<h1>Create an Actor</h1>
<br>
<ul>
<%=display_error_messages_if_any(@actor)%>
</ul>
<br>
<div id="actor-form" class="hide">
    <%= form_with(model: @actor) do |f| %>
        <%= render partial: "form", locals: {f: f} %>
        <%= f.submit :create%>
    <% end %>

</div>