<div class="form-control">
            <%= f.label :time, class: "form-label" %>
            <%= f.datetime_field :time, class: "form-input" %>
        </div>
        <div class="form-control">
            <%= f.label :place, class: "form-label" %>
            <%= f.text_field :place, class: "form-input" %>
</div>