<div class="form-control">
                <%= f.label :email, class: "form-label"%>
                <%= f.email_field :email, class: "form-input" %>
            </div>
            <div class="form-control">
                <%= f.label :password, class: "form-label"%>
                <%= f.password_field :password, class: "form-input" %>
</div>