<h1>All Anime</h1>
<ul>
<% if @shows.any? %>
<% @shows.each do |s| %>
    <li><%= link_to s.title, show_path(s) %></li>
<% end %>
<% else %>
    <%="No anime yet! Add one or check back later!"%>
<% end %>
</ul>

<%= link_to "Create A Show", new_show_path %>