<h1>Create A Show</h1>
<br>
<ul>
<% if @show.errors.any? %> 
    <% @show.errors.each do |error| %>
        <li><%=error.full_message%></li>
    <% end %>
<% end %>
</ul>
<br>
<div id="show-form" class="hide">
    <%= form_with(model: @show) do |f| %>
         <%= render partial: "form", locals: {f: f} %>

        <h2><%= f.submit :create%></h2>
    <% end %>

</div>